 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('../images/become_a_dealz_partner_banner.png');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 782px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Oswald-SemiBold;
  line-height: 1.37;
  width: 619px;
  margin: 309px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Stratos-Regular;
  font-weight: 700;
  font-size: 1rem;
  width: 619px;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 217px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 183px;
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 43px;
    margin-left: 51px;
    margin-right: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: 415px;
    margin-top: 193px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 178px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 33px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 283px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 994px;
  margin: 113px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 92px;
  background-image: none;
  --radius: 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-elements-1 {
  width: 101px;
  min-height: 45px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-image-1 {
  width: 46px;
  height: 45px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-family: Oswald-SemiBold;
  margin: -37px 0 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 92px;
  background-image: none;
  --radius: 30px;
}

.u-section-2 .u-container-layout-2 {
  padding: 16px 30px;
}

.u-section-2 .u-group-elements-2 {
  width: 130px;
  min-height: 44px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-image-2 {
  width: 44px;
  height: 44px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-family: Inter;
  margin: -36px 0 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  --radius: 30px;
  min-height: 92px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 6px;
}

.u-section-2 .u-group-elements-3 {
  width: 210px;
  min-height: 50px;
  margin: 10px 0 0 auto;
}

.u-section-2 .u-image-3 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-family: Inter;
  font-size: 1.125rem;
  margin: -37px 0 0 64px;
}

.u-section-2 .u-layout-cell-4 {
  background-image: none;
  --radius: 30px;
  min-height: 92px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-2 .u-group-elements-4 {
  width: 121px;
  min-height: 45px;
  margin: 13px auto 0 16px;
}

.u-section-2 .u-image-4 {
  width: 45px;
  height: 45px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  font-family: Inter;
  margin: -34px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 87px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 87px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 87px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 87px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 108px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-group-elements-3 {
    width: 156px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-group-elements-4 {
    width: 108px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-elements-3 {
    width: 190px;
    margin-top: 21px;
    margin-right: 128px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: -38px;
    margin-left: 54px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-elements-4 {
    width: 113px;
    margin-top: 23px;
    margin-left: 209px;
  }

  .u-section-2 .u-image-4 {
    margin-right: 68px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -36px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 120px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -35px;
  }

  .u-section-2 .u-group-elements-3 {
    width: 182px;
    margin-right: 42px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 53px;
  }

  .u-section-2 .u-group-elements-4 {
    width: 111px;
    margin-left: 100px;
  }

  .u-section-2 .u-image-4 {
    margin-right: 66px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -26px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 831px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 1px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 830px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 163px 0 0 20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 830px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-3 .u-form-1 {
  height: 726px;
  width: 511px;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  line-height: 2;
  text-transform: uppercase;
  font-family: Oswald-SemiBold;
  font-weight: 700;
  font-size: 1.875rem;
}

.u-section-3 .u-form-group-2 {
  margin-left: 0;
}

.u-section-3 .u-label-1 {
  font-family: Stratos-Regular;
}

.u-section-3 .u-input-1 {
  --radius: 16px;
  font-family: Stratos-Regular;
}

.u-section-3 .u-form-group-3 {
  margin-left: 0;
}

.u-section-3 .u-label-2 {
  font-family: Stratos-Regular;
}

.u-section-3 .u-input-2 {
  --radius: 16px;
  font-family: Stratos-Regular;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-label-3 {
  font-family: Stratos-Regular;
}

.u-section-3 .u-input-3 {
  --radius: 16px;
  font-family: Stratos-Regular;
}

.u-section-3 .u-form-group-5 {
  margin-left: 0;
}

.u-section-3 .u-label-4 {
  font-family: Stratos-Regular;
}

.u-section-3 .u-input-4 {
  --radius: 16px;
  font-family: Stratos-Regular;
}

.u-section-3 .u-form-group-6 {
  margin-left: 0;
}

.u-section-3 .u-label-5 {
  font-family: Stratos-Regular;
}

.u-section-3 .u-input-5 {
  --radius: 16px;
  font-family: Stratos-Regular;
}

.u-section-3 .u-label-6 {
  font-family: Stratos-Regular;
}

.u-section-3 .u-input-6 {
  --radius: 16px;
  font-family: Stratos-Regular;
}

.u-section-3 .u-label-7 {
  font-family: Stratos-Regular;
}

.u-section-3 .u-input-7 {
  --radius: 16px;
  font-family: Stratos-Regular;
}

.u-section-3 .u-form-group-9 {
  margin-left: 0;
}

.u-section-3 .u-label-8 {
  font-family: Stratos-Regular;
}

.u-section-3 .u-input-8 {
  --radius: 16px;
  font-family: Stratos-Regular;
}

.u-section-3 .u-form-group-10 {
  margin-left: 0;
  margin-bottom: 30px !important;
  margin-top: 20px !important;
}

.u-section-3 .u-btn-1 {
  font-family: stratos-regular-TRIAL-BF63c604a073a47;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  --radius: 16px;
  text-transform: uppercase;
  font-family: Stratos-Regular;
  font-size: 1.125rem;
  padding: 4px 197px 4px 196px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 684px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 684px;
  }

  .u-section-3 .u-form-1 {
    width: 410px;
  }

  .u-section-3 .u-label-1 {
    font-weight: 400;
  }

  .u-section-3 .u-label-2 {
    font-weight: 400;
  }

  .u-section-3 .u-label-3 {
    font-weight: 400;
  }

  .u-section-3 .u-label-4 {
    font-weight: 400;
  }

  .u-section-3 .u-label-5 {
    font-weight: 400;
  }

  .u-section-3 .u-label-6 {
    font-weight: 400;
  }

  .u-section-3 .u-label-7 {
    font-weight: 400;
  }

  .u-section-3 .u-label-8 {
    font-weight: 400;
  }

  .u-section-3 .u-btn-2 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-form-1 {
    height: 797px;
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1239px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 504px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 136px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-3 .u-form-1 {
    height: 769px;
    margin-top: 2px;
    margin-right: 94px;
    margin-left: 86px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1196px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-form-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 583px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 63px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 520px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  margin: 0 54px 0 67px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 520px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-list-1 {
  width: 428px;
  margin: 75px auto 0 67px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 386px;
  grid-gap: 10px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --radius: 19px;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-image-1 {
  width: 42px;
  height: 42px;
  margin: 14px auto 0 20px;
}

.u-section-4 .u-text-2 {
  font-family: Inter;
  margin: -36px auto 0 70px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  --radius: 19px;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-image-2 {
  width: 42px;
  height: 42px;
  margin: 14px auto 0 20px;
}

.u-section-4 .u-text-3 {
  font-family: Inter;
  margin: -36px auto 0 70px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  --radius: 19px;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-image-3 {
  width: 42px;
  height: 42px;
  margin: 14px auto 0 20px;
}

.u-section-4 .u-text-4 {
  font-family: Inter;
  margin: -36px auto 0 70px;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  --radius: 19px;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px;
}

.u-section-4 .u-image-4 {
  width: 42px;
  height: 42px;
  margin: 14px auto 0 20px;
}

.u-section-4 .u-text-5 {
  font-family: Inter;
  margin: -36px auto 0 70px;
}

.u-section-4 .u-list-item-5 {
  background-image: none;
  --radius: 19px;
}

.u-section-4 .u-container-layout-7 {
  padding: 10px;
}

.u-section-4 .u-image-5 {
  width: 42px;
  height: 42px;
  margin: 14px auto 0 20px;
}

.u-section-4 .u-text-6 {
  font-family: Inter;
  margin: -36px auto 0 70px;
}

.u-section-4 .u-list-item-6 {
  background-image: none;
  --radius: 19px;
}

.u-section-4 .u-container-layout-8 {
  padding: 10px;
}

.u-section-4 .u-image-6 {
  width: 42px;
  height: 42px;
  margin: 14px auto 0 20px;
}

.u-section-4 .u-text-7 {
  font-family: Inter;
  margin: -36px auto 0 70px;
}

.u-section-4 .u-list-item-7 {
  background-image: none;
  --radius: 19px;
}

.u-section-4 .u-container-layout-9 {
  padding: 10px;
}

.u-section-4 .u-image-7 {
  width: 42px;
  height: 42px;
  margin: 14px auto 0 20px;
}

.u-section-4 .u-text-8 {
  font-family: Inter;
  margin: -36px auto 0 70px;
}

.u-section-4 .u-list-item-8 {
  background-image: none;
  --radius: 19px;
}

.u-section-4 .u-container-layout-10 {
  padding: 10px;
}

.u-section-4 .u-image-8 {
  width: 42px;
  height: 42px;
  margin: 14px auto 0 20px;
}

.u-section-4 .u-text-9 {
  font-family: Inter;
  margin: -36px auto 0 70px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 91px;
    margin-right: 11px;
    margin-left: 40px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 429px;
  }

  .u-section-4 .u-list-1 {
    margin-left: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 17px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 695px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 148px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 695px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 20px;
    width: 360px;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
    min-height: 620px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 984px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 19px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 602px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 7px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 18px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 292px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 25px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 244px;
}

.u-section-5 .u-text-1 {
  margin: 51px 381px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 181px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-bottom: 26px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 570px;
}

.u-section-6 .u-group-elements-1 {
  width: 526px;
  min-height: 224px;
  margin: 73px auto 60px 18px;
}

.u-section-6 .u-text-1 {
  font-family: Abel;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0 0 0 112px;
}

.u-section-6 .u-image-1 {
  width: 187px;
  height: 187px;
  margin: -224px auto 0 0;
}

@media (max-width: 767px) {
  .u-section-6 .u-group-elements-1 {
    margin-left: 14px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1rem;
    margin-left: 89px;
  }

  .u-section-6 .u-image-1 {
    width: 143px;
    height: 152px;
    margin-top: -153px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-elements-1 {
    min-height: 250px;
    margin-top: 25px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 100px;
  }

  .u-section-6 .u-image-1 {
    width: 184px;
    height: 249px;
    margin-top: -250px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 624px;
}

.u-section-7 .u-image-1 {
  width: 289px;
  height: 447px;
  margin: -272px 0 0 auto;
}

.u-section-7 .u-text-1 {
  margin: 181px 83px 0;
}

.u-section-7 .u-image-2 {
  width: 337px;
  height: 395px;
  margin: -274px auto 17px -163px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-7 .u-image-1 {
    width: 238px;
    height: 382px;
    margin-top: -246px;
    margin-right: 36px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 220px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 629px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: -119px;
  margin-bottom: 60px;
}

.u-section-8 .u-image-1 {
  min-height: 505px;
  background-image: url("../images/ways_to_grow_and_support_your_business_person1.png");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-image-2 {
  min-height: 505px;
  background-image: url("../images/ways_to_grow_and_support_your_business_person2.png");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-8 .u-image-1 {
    min-height: 416px;
  }

  .u-section-8 .u-image-2 {
    min-height: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-image-1 {
    min-height: 319px;
  }

  .u-section-8 .u-image-2 {
    min-height: 319px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-image-1 {
    min-height: 479px;
  }

  .u-section-8 .u-image-2 {
    min-height: 479px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    min-height: 302px;
  }

  .u-section-8 .u-image-2 {
    min-height: 302px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 637px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 28px 0 32px;
}

.u-section-9 .u-image-1 {
  min-height: 577px;
  background-image: url("../images/simple_as_startup_your_business_left_img.svg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 577px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-9 .u-text-1 {
  margin: 17px 166px 0 38px;
}

.u-section-9 .u-image-2 {
  width: 366px;
  height: 265px;
  margin: 18px auto 0 38px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 0;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    min-height: 476px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 476px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 76px;
    margin-left: 28px;
  }

  .u-section-9 .u-image-2 {
    margin-top: 14px;
    margin-left: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    min-height: 365px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
  }

  .u-section-9 .u-image-2 {
    margin-left: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 935px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 33px;
    margin-bottom: 33px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    min-height: 338px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 99px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    min-height: 299px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
  }

  .u-section-9 .u-image-2 {
    width: 340px;
    height: 246px;
    margin-left: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 691px;
}

.u-section-10 .u-layout-wrap-1 {
  margin: 77px 0 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 554px;
}

.u-section-10 .u-container-layout-1 {
  padding: 5px 0;
}

.u-section-10 .u-text-1 {
  margin: 0 30px;
}

.u-section-10 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: Stratos-Regular;
  margin: 30px 30px 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 554px;
  background-image: none;
  --radius: 37px;
}

.u-section-10 .u-container-layout-2 {
  padding: 0;
}

.u-section-10 .u-image-1 {
  width: 579px;
  height: 579px;
  margin: 43px auto -72px -130px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 457px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 457px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 350px;
  }

  .u-section-10 .u-image-1 {
    width: 360px;
    height: 360px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 478px;
    margin-right: 25px;
    margin-left: auto;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 333px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 436px;
  }

  .u-section-10 .u-image-1 {
    width: 405px;
    height: 405px;
    margin-top: 37px;
    margin-bottom: -10px;
    margin-left: -86px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 304px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 11px;
    margin-right: auto;
  }

  .u-section-10 .u-image-1 {
    width: 357px;
    height: 357px;
    margin-top: 85px;
    margin-left: -38px;
  }
}@font-face {
  font-family: 'Oswald-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Oswald-SemiBold.ttf);
}@font-face {
  font-family: 'Stratos-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Stratos-Regular.ttf);
}