body {
  overflow-x: hidden;
}

#section-1-u-text-1 {
  padding: 0 10px 0 0;
  margin: 0;
}

#cursor {
  margin: 0;
  display: inline-block;
}
.active {
  text-decoration: underline 3px;
  text-underline-offset: 1rem;
  color: #00bfba;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.chef-img {
  bottom: 9px;
  left: 0;
  right: 0;
  margin-left: auto !important;
  margin-right: auto !important;
}

.text-black {
  color: "#0F1114";
}

.header-logo {
  position: absolute;
  width: 96px !important;
  height: 35px !important;
}

.navbar {
  width: 100% !important;
}
.scooter-img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 30vh !important;
  width: auto !important;
}

.helmet {
  height: 13vh;
  width: auto;
  position: absolute;
  bottom: 42%;
  right: 1%;
}
.home-page-header-ellipse {
  position: absolute;
  top: 0;
  left: 2% !important;
  margin: 0 !important;
  height: 33vh;
  width: auto;
}
.home-page-header-text {
  margin: 0 !important;
  position: absolute;
  bottom: -10px;
  display: block;
  left: 0;
  right: 0;
  margin-left: auto !important;
  margin-right: auto !important;
}
.home-page-section1 {
  min-height: 50vh !important;
}

.box-container p {
  margin: auto 0 !important;
  font-family: "Stratos-Regular";
  font-size: 1.1rem;
  text-transform: uppercase;
}
.box-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: start;
}
.round-box {
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 30px;
  border: 1px solid #c8c8c8;
  background: var(--White, #fff);
  box-shadow: 0px 40px 80px 0px rgba(0, 0, 0, 0.16);
}
.lord-icon {
  width: 35px;
  height: 33.906px;
  flex-shrink: 0;
  margin: auto;
}
.u-section-3 .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 32px 0px;
  justify-items: start;
}

@media (min-width: 1199px) {
  .u-section-3 .grid-container {
    margin: 56px auto 0 48px;
  }
}

.services-div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-evenly;
  margin: 58px 60px 0px 50px;
}

@media (max-width: 767px) {
  .services-div {
    flex-direction: column-reverse;
  }
}

.services-text-div {
  margin: auto 0;
}

.u-section-8 .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 32px 36px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.booking-tickets-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 32px 0px;
  justify-items: start;
  margin: 9px 10px 0 132px;
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 5.25rem;
    bottom: -15px;
  }
}

@media screen and (min-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 6.25rem;
    bottom: -15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3.25rem;
  }
}

@media (max-width: 991px) {
  .booking-tickets-grid-container {
    margin-left: 22px;
  }
}
@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: 0px !important;
  }
}

.pay-utility-bills-icon {
  width: 59px;
  height: 59px;
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .scooter-img {
    height: 17vh !important;
  }
}

@media (min-width: 991px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100% !important;
    margin: 0 0 !important;
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media (max-width: 575px) {
  .scooter-img {
    height: 15vh !important;
  }
  .helmet {
    height: 9vh;
    width: auto;
    bottom: 17%;
    right: 1%;
  }
}
