body {
  overflow-x: hidden;
}
.active {
  text-decoration: underline 3px;
  text-underline-offset: 1rem;
  color: #00bfba;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.chef-img {
  bottom: 9px;
  left: 0;
  right: 0;
  margin-left: auto !important;
  margin-right: auto !important;
}

.text-black {
  color: "#0F1114";
}

.header-logo {
  position: absolute;
  width: 96px !important;
  height: 35px !important;
}

.navbar {
  width: 100% !important;
}
.scooter-img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 30vh !important;
  width: auto !important;
}

.helmet {
  height: 13vh;
  width: auto;
  position: absolute;
  bottom: 42%;
  right: 1%;
}
.home-page-header-ellipse {
  position: absolute;
  top: 0;
  left: 2% !important;
  margin: 0 !important;
  height: 33vh;
  width: auto;
}
.home-page-header-text {
  margin: 0 !important;
  position: absolute;
  bottom: -10px;
  display: block;
  left: 0;
  right: 0;
  margin-left: auto !important;
  margin-right: auto !important;
}
.home-page-section1 {
  min-height: 50vh !important;
}
.burger {
}

@media (max-width: 767px) {
  .scooter-img {
    height: 17vh !important;
  }
}

@media (min-width: 991px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100% !important;
    margin: 0 0 !important;
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media (max-width: 575px) {
  .scooter-img {
    height: 15vh !important;
  }
  .helmet {
    height: 9vh;
    width: auto;
    bottom: 17%;
    right: 1%;
  }
}
