 .u-section-1 {
  background-image: none;
  min-height: 477px;
}

.u-section-1 .u-image-1 {
  width: 201px;
  height: 300px;
  margin: 56px auto 0 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: Oswald-SemiBold;
  margin: -217px auto 0;
}

.u-section-1 .u-image-2 {
  width: 142px;
  height: 188px;
  margin: -15px 0 60px auto;
} .u-section-2 {
  background-image: none;
  min-height: 1140px;
}

.u-section-2 .u-group-1 {
  width: 937px;
  height: auto;
  --radius: 17px;
  min-height: 530px;
  margin: -269px calc(((100% - 1140px) / 2)  + 81px) 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-group-elements-1 {
  width: 724px;
  min-height: 424px;
  margin: 106px auto 0;
}

.u-section-2 .u-image-1 {
  width: 149px;
  height: 52px;
  margin: 0 auto 0 288px;
}

.u-section-2 .u-image-2 {
  height: 295px;
  --radius: 19px;
  filter: brightness(0.9);
  margin-top: 77px;
  margin-bottom: 0;
}

.u-section-2 .u-image-3 {
  width: 137px;
  height: 137px;
  margin: -333px auto 0 294px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 153px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-4 {
  min-height: 659px;
  background-image: url("images/Foods.svg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-5 {
  width: 381px;
  height: 530px;
  margin: 129px 116px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 659px;
}

.u-section-2 .u-container-layout-3 {
  padding: 21px 0 0;
}

.u-section-2 .u-text-1 {
  margin: 56px 48px 0;
}

.u-section-2 .u-group-elements-2 {
  width: 278px;
  min-height: 175px;
  height: auto;
  margin: -21px auto 0 0;
}

.u-section-2 .u-image-6 {
  width: 175px;
  height: 175px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Abel;
  margin: -141px 0 0 134px;
}

.u-section-2 .u-group-elements-3 {
  width: 265px;
  min-height: 174px;
  height: auto;
  margin: -174px 48px 0 auto;
}

.u-section-2 .u-image-7 {
  width: 174px;
  height: 174px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Abel;
  margin: -144px 0 0 140px;
}

.u-section-2 .u-group-elements-4 {
  width: 389px;
  min-height: 174px;
  height: auto;
  margin: -54px auto -7px 0;
}

.u-section-2 .u-image-8 {
  width: 174px;
  height: 174px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Abel;
  margin: -143px 0 0 134px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1024px;
  }

  .u-section-2 .u-group-1 {
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-2 .u-image-4 {
    min-height: 543px;
  }

  .u-section-2 .u-image-5 {
    margin-right: 105px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-group-elements-3 {
    margin-top: -168px;
    margin-right: 9px;
  }

  .u-section-2 .u-group-elements-4 {
    margin-top: -60px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 897px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-elements-1 {
    width: 660px;
    min-height: 356px;
  }

  .u-section-2 .u-image-2 {
    height: 227px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -265px;
  }

  .u-section-2 .u-image-4 {
    min-height: 416px;
  }

  .u-section-2 .u-image-5 {
    height: 396px;
    margin-top: 118px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 12px;
  }

  .u-section-2 .u-group-elements-2 {
    margin-left: -18px;
  }

  .u-section-2 .u-group-elements-3 {
    margin-top: -84px;
    margin-right: auto;
    margin-left: -18px;
  }

  .u-section-2 .u-group-elements-4 {
    width: 360px;
    margin-top: -78px;
    margin-bottom: -64px;
    margin-left: -18px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1580px;
  }

  .u-section-2 .u-group-1 {
    min-height: 450px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 485px;
    margin-top: 64px;
    min-height: 299px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -1px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    height: 168px;
    margin-top: 147px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -260px;
    margin-left: auto;
  }

  .u-section-2 .u-image-4 {
    min-height: 657px;
  }

  .u-section-2 .u-image-5 {
    height: 454px;
    width: 393px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 671px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 56px;
    margin-right: 53px;
    margin-left: 32px;
  }

  .u-section-2 .u-group-elements-2 {
    margin-top: 1px;
  }

  .u-section-2 .u-group-elements-4 {
    margin-bottom: -77px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1168px;
  }

  .u-section-2 .u-group-1 {
    min-height: 345px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-elements-1 {
    width: 320px;
    margin-top: 63px;
    min-height: 236px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    height: 106px;
    margin-top: 101px;
  }

  .u-section-2 .u-image-3 {
    width: 107px;
    height: 107px;
    margin-top: -159px;
  }

  .u-section-2 .u-image-4 {
    min-height: 414px;
  }

  .u-section-2 .u-image-5 {
    height: 362px;
    width: 238px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 647px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 50px;
    margin-left: 26px;
  }

  .u-section-2 .u-group-elements-2 {
    margin-top: 31px;
  }

  .u-section-2 .u-group-elements-4 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 752px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 61px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 631px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 73px 43px 0 1px;
}

.u-section-3 .u-image-1 {
  width: 380px;
  height: 66px;
  margin: 16px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 631px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 436px;
  height: 519px;
  margin: 111px auto 0 82px;
}

.u-section-3 .u-image-3 {
  width: 560px;
  height: 359px;
  margin: -614px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 520px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 520px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 34px;
  }

  .u-section-3 .u-image-3 {
    width: 470px;
    height: 301px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 1px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 52px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-3 .u-image-2 {
    width: 360px;
    height: 428px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 360px;
    height: 231px;
    margin-top: -523px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 28px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 597px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -495px;
    margin-left: -37px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1043px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 476px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 25px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 404px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -471px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 498px;
}

.u-section-4 .u-shape-1 {
  width: 117px;
  height: 90px;
  margin: -31px auto 0 calc(((100% - 1140px) / 2) + 123px);
}

.u-section-4 .u-image-1 {
  width: 1px;
  height: 1px;
  margin: 140px auto 0 calc(((100% - 1140px) / 2) + 570px);
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: -149px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 447px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 546px;
  height: 385px;
  margin: 0 auto 0 22px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 447px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-group-elements-1 {
  width: 526px;
  min-height: 366px;
  margin: 0 auto 0 33px;
}

.u-section-4 .u-text-1 {
  margin: 0 0 0 57px;
}

.u-section-4 .u-group-elements-2 {
  width: 35px;
  min-height: 200px;
  height: auto;
  margin: -327px auto 0 33px;
}

.u-section-4 .u-image-3 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-4 {
  width: 4px;
  height: 130px;
  margin: 0 auto;
}

.u-section-4 .u-image-5 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 464px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: calc(((100% - 940px) / 2) + 123px);
  }

  .u-section-4 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 570px);
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -200px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-4 .u-image-2 {
    width: 470px;
    height: 331px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 464px;
  }

  .u-section-4 .u-group-elements-1 {
    width: 470px;
    margin-left: 0;
  }

  .u-section-4 .u-group-elements-2 {
    margin-top: -358px;
    margin-left: 13px;
  }

  .u-section-4 .u-image-3 {
    height: NaNpx;
  }

  .u-section-4 .u-image-5 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 492px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: calc(((100% - 720px) / 2) + 123px);
  }

  .u-section-4 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 570px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-4 .u-image-2 {
    width: 360px;
    height: 254px;
    margin-top: 247px;
    margin-bottom: -38px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 283px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-elements-1 {
    width: 320px;
    min-height: 513px;
    margin-left: 57px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 0;
  }

  .u-section-4 .u-group-elements-2 {
    margin-top: -328px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 907px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: calc(((100% - 540px) / 2) + 123px);
  }

  .u-section-4 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 539px);
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 19px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-4 .u-image-2 {
    margin: 132px 153px 0 127px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 425px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 747px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 77px;
    margin-right: calc(((100% - 340px) / 2)  + 89px);
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    margin-top: 63px;
    margin-left: calc(((100% - 340px) / 2) + 339px);
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -64px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 372px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 240px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 402px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-4 .u-group-elements-1 {
    width: 253px;
    min-height: 447px;
    height: auto;
    margin-right: 63px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: -3px;
  }

  .u-section-4 .u-group-elements-2 {
    margin-top: -388px;
    margin-left: 78px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 812px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1087px;
  margin: 61px 0 60px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 672px;
  background-image: none;
  --radius: 40px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 637px;
  height: 637px;
  background-image: url("images/ticket.svg");
  background-position: 50% 50%;
  margin: -55px -208px 0 auto;
}

.u-section-5 .u-image-2 {
  width: 525px;
  height: 614px;
  margin: -543px -19px -19px auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 672px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  margin: 9px 10px 0 132px;
}

.u-section-5 .u-group-elements-1 {
  width: 210px;
  min-height: 175px;
  height: auto;
  margin: -36px auto 0 73px;
}

.u-section-5 .u-image-3 {
  width: 175px;
  height: 175px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Abel;
  margin: -141px -19px 0 134px;
}

.u-section-5 .u-group-elements-2 {
  width: 228px;
  min-height: 175px;
  height: auto;
  margin: -55px auto 0 73px;
}

.u-section-5 .u-image-4 {
  width: 175px;
  height: 175px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Abel;
  margin: -141px -49px 0 134px;
}

.u-section-5 .u-group-elements-3 {
  width: 221px;
  min-height: 175px;
  height: auto;
  margin: -295px 40px 0 auto;
}

.u-section-5 .u-image-5 {
  width: 175px;
  height: 175px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Abel;
  margin: -141px -57px 0 134px;
}

.u-section-5 .u-group-elements-4 {
  width: 210px;
  min-height: 175px;
  height: auto;
  margin: -55px 49px 0 auto;
}

.u-section-5 .u-image-6 {
  width: 175px;
  height: 175px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Abel;
  margin: -141px -67px 0 134px;
}

.u-section-5 .u-text-6 {
  font-family: Oswald-SemiBold;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -49px auto 0 132px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 581px;
  }

  .u-section-5 .u-image-1 {
    transition-duration: 0.5s;
  }

  .u-section-5 .u-image-2 {
    width: 470px;
    height: 549px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 628px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -19px;
    margin-right: 0;
  }

  .u-section-5 .u-group-elements-1 {
    margin-top: -27px;
    margin-left: 62px;
  }

  .u-section-5 .u-group-elements-2 {
    margin-top: -65px;
    margin-left: 62px;
  }

  .u-section-5 .u-text-3 {
    margin-right: -48px;
  }

  .u-section-5 .u-group-elements-3 {
    margin-top: -285px;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: -58px;
  }

  .u-section-5 .u-group-elements-4 {
    margin-top: -65px;
    margin-right: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 628px;
  }

  .u-section-5 .u-image-1 {
    width: 360px;
    height: 360px;
    margin-top: 147px;
    margin-right: -68px;
  }

  .u-section-5 .u-image-2 {
    height: 421px;
    margin-top: -318px;
    margin-bottom: -18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    margin-left: 22px;
  }

  .u-section-5 .u-group-elements-1 {
    margin-top: -25px;
    margin-right: -6px;
    margin-left: auto;
  }

  .u-section-5 .u-group-elements-2 {
    margin-top: -69px;
    margin-right: -24px;
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    margin-right: -24px;
  }

  .u-section-5 .u-group-elements-3 {
    margin-top: -293px;
    margin-right: auto;
    margin-left: -19px;
  }

  .u-section-5 .u-group-elements-4 {
    margin-right: auto;
    margin-left: -19px;
  }

  .u-section-5 .u-text-5 {
    margin-right: -66px;
  }

  .u-section-5 .u-text-6 {
    margin-top: -39px;
    margin-left: 101px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 66px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-5 .u-image-1 {
    width: 480px;
    height: 480px;
    margin-top: -8px;
    margin-right: -66px;
  }

  .u-section-5 .u-image-2 {
    width: 503px;
    margin: -410px -1px -19px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 489px;
  }

  .u-section-5 .u-group-elements-1 {
    margin-top: -33px;
    margin-right: 57px;
  }

  .u-section-5 .u-group-elements-2 {
    margin-right: 39px;
  }

  .u-section-5 .u-group-elements-3 {
    margin-top: -285px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1395px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 37px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 498px;
  }

  .u-section-5 .u-image-1 {
    width: 336px;
    height: 336px;
    margin-top: 72px;
    margin-right: -22px;
  }

  .u-section-5 .u-image-2 {
    height: 398px;
    width: 321px;
    margin: -312px -9px -34px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 813px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-group-elements-1 {
    margin-top: -14px;
    margin-right: auto;
    margin-left: -21px;
  }

  .u-section-5 .u-group-elements-2 {
    margin-top: 7px;
    margin-right: auto;
    margin-left: -21px;
  }

  .u-section-5 .u-text-3 {
    margin-right: -23px;
  }

  .u-section-5 .u-group-elements-3 {
    margin-top: -269px;
    margin-left: -21px;
  }

  .u-section-5 .u-text-4 {
    margin-right: -60px;
  }

  .u-section-5 .u-group-elements-4 {
    margin-top: 0;
    margin-left: -21px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: -51px;
    margin-right: 0;
    margin-left: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 645px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 520px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-text-1 {
  margin: 0 54px 0 67px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 520px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 436px;
  height: 519px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 91px;
    margin-right: 11px;
    margin-left: 40px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 429px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 103px;
    margin-bottom: 39px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-6 .u-image-1 {
    width: 360px;
    height: 428px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 494px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 356px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 25px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 404px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 660px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-7 .u-image-1 {
  min-height: 659px;
  background-image: url("images/delivery_man.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 659px;
}

.u-section-7 .u-container-layout-2 {
  padding: 21px 0 0;
}

.u-section-7 .u-text-1 {
  margin: 111px 77px 0 48px;
}

.u-section-7 .u-image-2 {
  width: 189px;
  height: 66px;
  margin: 48px auto 0 48px;
}

.u-section-7 .u-image-3 {
  width: 189px;
  height: 57px;
  margin: -61px 77px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-7 .u-image-1 {
    min-height: 543px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 643px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 28px;
    margin-left: 0;
  }

  .u-section-7 .u-image-2 {
    margin-left: 0;
  }

  .u-section-7 .u-image-3 {
    margin-top: -62px;
    margin-right: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 29px;
  }

  .u-section-7 .u-image-1 {
    min-height: 538px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 538px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 77px;
    margin-right: 0;
    margin-left: 12px;
  }

  .u-section-7 .u-image-2 {
    width: 146px;
    height: 51px;
    margin-top: -10px;
    margin-left: 19px;
  }

  .u-section-7 .u-image-3 {
    width: 135px;
    height: 43px;
    margin-top: -47px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-7 .u-image-1 {
    min-height: 556px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 449px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 11px;
    margin-left: 66px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -43px;
    margin-right: 89px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 112px;
    margin-bottom: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 350px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 0;
    margin-right: 50px;
    margin-left: 26px;
  }

  .u-section-7 .u-image-3 {
    width: 141px;
    height: 45px;
    margin-top: 20px;
    margin-right: 128px;
    margin-left: 71px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 735px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1030px;
  margin: 88px auto 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 499px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-8 .u-text-1 {
  margin: 0 54px 0 67px;
}

.u-section-8 .u-image-1 {
  min-height: 499px;
  background-image: url("images/flowers_bg.svg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-image-2 {
  width: 437px;
  height: 496px;
  margin: 78px 0 -75px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 455px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 32px;
    margin-left: 45px;
  }

  .u-section-8 .u-image-1 {
    min-height: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    min-height: 349px;
  }

  .u-section-8 .u-image-2 {
    width: 360px;
    height: 409px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-image-1 {
    min-height: 524px;
  }

  .u-section-8 .u-image-2 {
    width: 510px;
    height: 464px;
    margin-top: 146px;
    margin-bottom: -86px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 932px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 25px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-8 .u-image-1 {
    min-height: 369px;
  }

  .u-section-8 .u-image-2 {
    height: 309px;
    margin-top: 110px;
    margin-bottom: -50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 683px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 990px;
  margin: 58px auto 60px;
}

.u-section-9 .u-image-1 {
  min-height: 525px;
  background-image: url("images/fashion.svg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 525px;
}

.u-section-9 .u-container-layout-2 {
  padding: 0;
}

.u-section-9 .u-text-1 {
  width: 403px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-9 .u-image-1 {
    min-height: 498px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 543px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-image-1 {
    min-height: 381px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 77px;
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 0;
  }

  .u-section-9 .u-image-1 {
    min-height: 553px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-1 {
    min-height: 387px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 423px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 33px;
    margin-right: 10px;
    margin-left: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 579px;
}

.u-section-10 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 489px;
}

.u-section-10 .u-container-layout-1 {
  padding: 5px 0 0;
}

.u-section-10 .u-text-1 {
  margin: 0 136px 0 114px;
}

.u-section-10 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px auto 0 114px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 489px;
  background-image: none;
  --radius: 37px;
}

.u-section-10 .u-container-layout-2 {
  padding: 0;
}

.u-section-10 .u-image-1 {
  width: 420px;
  height: 420px;
  margin: 84px auto -19px -82px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 48px;
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-right: 94px;
    margin-left: 44px;
  }

  .u-section-10 .u-btn-1 {
    margin-left: 44px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 422px;
  }

  .u-section-10 .u-image-1 {
    width: 353px;
    height: 353px;
    margin-left: -73px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 43px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 419px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 48px;
    margin-left: 29px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 25px;
    margin-left: 29px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 419px;
  }

  .u-section-10 .u-image-1 {
    width: 268px;
    height: 268px;
    margin-top: 162px;
    margin-bottom: -15px;
    margin-left: -50px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 433px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 29px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 23px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 436px;
  }

  .u-section-10 .u-image-1 {
    width: 395px;
    height: 358px;
    margin: 76px -2px -2px auto;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 444px;
  }

  .u-section-10 .u-image-1 {
    width: 357px;
    height: 357px;
    margin: 98px auto -15px -30px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-11 .u-layout-wrap-1 {
  width: 990px;
  margin: 58px auto 50px;
}

.u-section-11 .u-image-1 {
  min-height: 532px;
  background-image: url("images/electronics.svg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-1 {
  padding: 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 532px;
}

.u-section-11 .u-container-layout-2 {
  padding: 0;
}

.u-section-11 .u-text-1 {
  width: 416px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-11 .u-image-1 {
    min-height: 505px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-11 .u-text-1 {
    width: 403px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-11 .u-image-1 {
    min-height: 387px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-top: 77px;
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 996px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 23px;
  }

  .u-section-11 .u-image-1 {
    min-height: 553px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 9px;
  }

  .u-section-11 .u-image-1 {
    min-height: 348px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 0;
    margin-right: 50px;
    margin-left: 26px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 727px;
}

.u-section-12 .u-layout-wrap-1 {
  margin: 113px 0 60px;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 554px;
}

.u-section-12 .u-container-layout-1 {
  padding: 5px 0;
}

.u-section-12 .u-text-1 {
  margin: 0 30px;
}

.u-section-12 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px 30px 0;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 554px;
  background-image: none;
  --radius: 37px;
}

.u-section-12 .u-container-layout-2 {
  padding: 0;
}

.u-section-12 .u-image-1 {
  width: 579px;
  height: 579px;
  margin: 43px auto -72px -130px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 457px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 457px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 447px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-right: 39px;
  }

  .u-section-12 .u-btn-1 {
    margin-top: 19px;
    margin-right: auto;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 447px;
  }

  .u-section-12 .u-image-1 {
    width: 390px;
    height: 390px;
    margin-top: 71px;
    margin-bottom: -18px;
    margin-left: -60px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 14px;
    margin-right: 59px;
    margin-left: 35px;
  }

  .u-section-12 .u-btn-1 {
    margin-top: 14px;
    margin-left: 35px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 449px;
  }

  .u-section-12 .u-image-1 {
    width: 405px;
    margin-top: 57px;
    margin-bottom: -2px;
    margin-left: -36px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-btn-1 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 283px;
  }

  .u-section-12 .u-image-1 {
    width: 357px;
    height: 327px;
    margin-top: 85px;
    margin-left: -38px;
  }
}@font-face {
  font-family: 'Oswald-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Oswald-SemiBold.ttf);
}@font-face {
  font-family: 'stratos-regular-TRIAL-BF63c604a073a47';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/stratos-regular-TRIAL-BF63c604a073a47.otf);
}